BOT_TOKEN=sperma2281488pozvoniimipodbrosim TAKE THE TOKEN FROM @BotFather TAKE THE TOKEN FROM @BotFather TAKE THE TOKEN FROM @BotFather
API_KEY=your key
# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=5433
REDIS_PASSWORD=your password
REDIS_DATABASE= your number
# PGADMIN
PGADMIN_PORT=your port
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your password
# DATABSE
DB_NAME=your name
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5433
#POSTGRES
POSTGRES_DB=database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433
# LOGGING
LOG_LEVEL=DEBUG
LOG_FORMAT=[%(asctime)s] %(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s